@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap');

@import 'tailwindcss';
@import './custom-scrollbar.css';

@plugin 'tailwind-scrollbar';

:root.dark { color-scheme: dark; }
:root:not(.dark) { color-scheme: light; }

@theme {
  /* Typography */
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Fira Sans', sans-serif;
  --h1: 600 3rem/1.2em var(--font-secondary);
  --h2: 600 2rem/1.2em var(--font-secondary);
  --h3: 600 1.2rem/1.3em var(--font-secondary);
  --p: 1rem/1.5em var(--font-primary);
  --span: 1rem/1.0em var(--font-primary);

  /* Primary color */
  --color-p-10: hsl(227.65, 15.18%, 10%);
  --color-p-20: hsl(227.65, 15.18%, 20%);
  --color-p-30: hsl(227.65, 15.18%, 30%);
  --color-p-40: hsl(227.65, 15.18%, 40%);
  --color-p-50: hsl(227.65, 15.18%, 50%);
  --color-p-60: hsl(227.65, 15.18%, 60%);
  --color-p-70: hsl(227.65, 15.18%, 70%);
  --color-p-80: hsl(227.65, 15.18%, 80%);
  --color-p-90: hsl(227.65, 15.18%, 90%);

  /* Secondary color */
  --color-sd-10: hsl(145, 16.07%, 10%);
  --color-sd-20: hsl(145, 16.07%, 20%);
  --color-sd-30: hsl(145, 16.07%, 30%);
  --color-sd-40: hsl(145, 16.07%, 40%);
  --color-sd-50: hsl(145, 16.07%, 50%);
  --color-sd-60: hsl(145, 16.07%, 60%);
  --color-sd-70: hsl(145, 16.07%, 70%);
  --color-sd-80: hsl(145, 16.07%, 80%);
  --color-sd-90: hsl(145, 16.07%, 90%);

  /* Accent color */
  --color-a-10: hsl(354, 65.79%, 10%);
  --color-a-30: hsl(354, 65.79%, 30%);
  --color-a-50: hsl(354, 65.79%, 50%);
  --color-a-70: hsl(354, 65.79%, 70%);
  --color-a-90: hsl(354, 65.79%, 90%);
}

.dark {
  /* Primary color */
  --color-p-10: hsl(227.65, 15.18%, 90%);
  --color-p-20: hsl(227.65, 15.18%, 80%);
  --color-p-30: hsl(227.65, 15.18%, 70%);
  --color-p-40: hsl(227.65, 15.18%, 60%);
  --color-p-50: hsl(227.65, 15.18%, 50%);
  --color-p-60: hsl(227.65, 15.18%, 40%);
  --color-p-70: hsl(227.65, 15.18%, 30%);
  --color-p-80: hsl(227.65, 15.18%, 20%);
  --color-p-90: hsl(227.65, 15.18%, 10%);

  /* Secondary color */
  --color-sd-10: hsl(145, 16.07%, 90%);
  --color-sd-20: hsl(145, 16.07%, 80%);
  --color-sd-30: hsl(145, 16.07%, 70%);
  --color-sd-40: hsl(145, 16.07%, 60%);
  --color-sd-50: hsl(145, 16.07%, 50%);
  --color-sd-60: hsl(145, 16.07%, 40%);
  --color-sd-70: hsl(145, 16.07%, 30%);
  --color-sd-80: hsl(145, 16.07%, 20%);
  --color-sd-90: hsl(145, 16.07%, 10%);

  /* Accent color */
  --color-a-10: hsl(354, 65.79%, 90%);
  --color-a-30: hsl(354, 65.79%, 70%);
  --color-a-50: hsl(354, 65.79%, 50%);
  --color-a-70: hsl(354, 65.79%, 30%);
  --color-a-90: hsl(354, 65.79%, 10%);

  --dot-pattern: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIxIiBmaWxsPSIjZmZmIiBvcGFjaXR5PSIxIi8+PGNpcmNsZSBjeD0iMiIgY3k9IjIiIHI9IjEiIGZpbGw9IiNmZmYiIG9wYWNpdHk9IjEiLz48Y2lyY2xlIGN4PSI0IiBjeT0iNCIgcj0iMSIgZmlsbD0iI2ZmZiIgb3BhY2l0eT0iMSIvPjwvc3ZnPg==");
}

@layer base {
  html {
    scroll-behavior: smooth;
    @apply bg-p-90 text-p-10;
    transition: background-color 0.3s ease, color 0.1s ease;
  }

  body {
    text-wrap: balance;
    font: var(--p);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  h1 {
    font: var(--h1);
    @apply my-2;
  }

  h2 {
    font: var(--h2);
    @apply my-2;
  }

  h3 {
    font: var(--h3);
    @apply my-2;
  }

  p {
    @apply my-2;
    white-space: normal;
    word-break: break-word;
  }

  a {
    @apply text-p-10 no-underline;
  }

  a:hover {
    @apply text-p-30;
  }
}

@layer components {
}

@layer utilities {
  .paper-texture {
    @apply relative overflow-hidden;

    &::before {
      content: '';
      position: absolute;
      inset: 0;

      background-image:
              repeating-linear-gradient(25deg, rgba(255,255,255,0.02) 0 2px, rgba(0,0,0,0.05) 2px 4px), /* striped pattern */
              radial-gradient(circle at 70% 65%, rgba(0,0,0,0.08) 0%, transparent 50%), /* highlight b */
              radial-gradient(circle at 30% 35%, rgba(255,255,255,0.15) 0%, transparent 50%), /* highlight a */
              url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGZpbHRlciBpZD0ibm9pc2VGaWx0ZXIiPjx mZVR1cmJ1bGVuY2UgdHlwZT0iZnJhY3RhbE5vaXNlIiBiYXNlRnJlcXVlbmN5PSIxIiBudWJPY3RhdmVzPSIzIiBzZWVkPSIyIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbHRlcj0idXJsKCNub2lzZUZpbHRlcikiIG9wYWNpdHk9IjAuMjUiIC8+PC9zdmc+");  /* grain */
      background-size:
              100% 100%,
              100% 100%,
              200% 200%,
              8px 8px;

      mix-blend-mode: overlay;
      opacity: 0.8;
      pointer-events: none;
      z-index: 0;
    }

    /*&::after {*/
    /*  content: '';*/
    /*  position: absolute;*/
    /*  inset: 0;*/
    /*  box-shadow: inset 0 0 0 4px rgba(0,0,0,0.03),*/
    /*  inset 0 0 12px 4px rgba(0,0,0,0.06);*/
    /*  pointer-events: none;*/
    /*  z-index: 0;*/
    /*}*/
  }
}
